/* Estilização geral */

body {
	font-family: Arial, sans-serif;
	margin: 10px;
	padding: 2px;
}

h1 {
	font-size: 2rem;
	margin-bottom: 1rem;
}

hr {
	margin: 1.5rem 0;
	border: none;
	border-top: 1px solid #ccc;
}

label {
	display: block;
	margin-bottom: 0.5rem;
}

input[type="text"],
input[type="date"],
select {
	padding: 0.5rem;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-bottom: 1rem;
	width: 40%;
	background-color: rgba(0, 122, 153, 0.08);
}

input[type="submit"] {
	background-color: #007a99;
	border: none;
	color: white;
	padding: 0.5rem 1rem;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1rem;
	border-radius: 4px;
	cursor: pointer;
	margin-top: 1rem;
}

input[type="submit"]:hover {
	background-color: #007a99;
}

/* Estilização específica do formulário de clientes */

.flg_ativo {
	display: flex;
	align-items: center;
	margin-bottom: 1rem;
}

.flg_ativo label {
	margin-right: 0.5rem;
}

.flg_ativo input[type="checkbox"] {
	margin-right: 0.5rem;
}

#nome {
	text-transform: capitalize;
}

.nome{
	width: 50%;
}

#cpf {
	width: 20%;
}

#telefone,
#celular {
	width: 20%;
}

#email {
	width: 20%;
}
.data_nascimento{
	width: 15%;
}
.sexo{
	width: 20%;
}
